{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "settings": {
    "ecmascript": 6
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "jsx-quotes": [
      2,
      "prefer-single"
    ]
  }
}