:local .game {
  margin: 0 auto;
  max-width: 1280px;
  padding: 25px;
}

:local .settingsBtn {
  left: 10px;
  position: absolute;
  top: 10px;
  button {
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 300;
    font-weight: bolder;
    height: 32px;
    text-transform: uppercase;
    width: auto;
  }
}