:local .header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1280px;
  padding-bottom: 20px;
}

:local .counter {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  width: 140px;
}

:local .btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

:local .emoji {
  width: auto;
}