:local .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 20px;
}

:local .counter {
  font-size: 3rem;
  font-weight: bolder;
  color: tomato;
  width: 140px;
  text-align: center;
}

:local .btn {
  cursor: pointer;
  background: transparent;
  border: 0;
  &:focus {
    outline: 0;
  }
}

:local .emoji {
  // height: 70px;
  width: auto;
}