:local .settings {
  position: absolute;
  top: 40px;
  left: 10px;
  height: auto;
  width: 200px;
  background-color: white;
  border: 2px solid black;
  padding: 15px;
  h3 {
    margin: 5px 0 5px 0;
  }
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 5px 10px;
  }
}

:local .selected {
  font-weight: bolder;
}