:local .button {
  background-color: #f7f7f7;
  border: 1;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 25px;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 25px;

  img {
    width: 20px;
    height: 20px;
  }

  &:disabled { color: inherit; }
  &:focus { outline: none; }
}

:local .cross {
  &:before, &:after {
    position: absolute;
    left: 12px;
    top: 0;
    content: ' ';
    height: 28px;
    width: 3px;
    background-color: tomato;
  }

  &:before { transform: rotate(45deg); }
  &:after { transform: rotate(-45deg); }
}

:local .isLastClick {
  background-color: tomato !important;
}

:local .flag {
  width: 100%;
}

:local .clear {
  border: 0;
  background-color: transparent;
}

:local .marker {
  font-size: 1rem;
  font-weight: bolder;
}

